<section class="about">
  <div class="row">
    <div class="twelve columns">
      <h2>About Justin &#43; Brea</h2>
    </div>
  </div>

  <div class="row">
    <div class="six columns">
      <h3>Justin</h3>
      <p class="title">Designer &#43; Developer</p>
      <p><img class="about-photo" src="https://scontent-b.xx.fbcdn.net/hphotos-xfp1/t31.0-8/10547725_10155073316245721_3870353105597909374_o.jpg" /></p>
      <p>An Okie from Muskogee who now calls Edmond home. I work full time as a Web Designer and 
        Front-End Developer for LifeChurch.tv. I have been designing and building websites for the past 6 years 
        and love every minute of it. Passionate about Jesus and his Church, husband to my beautiful 
        bride, Brea, father to, Tenley-Kate and Callaway, and a sucker for a good cup of coffee. Be blessed!</p>
      <p>
        <ul>
          <li><a href="#"><i class="icon-mail"></i></a></li>
          <li><a href="#" target="_blank"><i class="icon-facebook"></i></a></li>
          <li><a href="#" target="_blank"><i class="icon-twitter"></i></a></li>
          <li><a href="#" target="_blank"><i class="icon-linkedin"></i></a></li>
      </ul>
      </p>
    </div>

    <div class="six columns">
      <h3>Brea</h3>
      <p class="title">Project Manager &#43; Customer Support</p>
      <p><img class="about-photo" src="https://scontent-b.xx.fbcdn.net/hphotos-xpf1/t31.0-8/10922325_10152467154686533_2450276072573164964_o.jpg" /></p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        Mauris non eleifend ex. Quisque in dignissim nibh. Nullam dolor ante, 
        pulvinar a tincidunt in, sodales non sapien. Fusce at mi bibendum, vestibulum leo at,
        condimentum arcu. Maecenas tincidunt ligula nec imperdiet gravida.</p>
      <p>
        <ul>
          <li><a href="#"><i class="icon-mail"></i></a></li>
          <li><a href="#" target="_blank"><i class="icon-facebook"></i></a></li>
          <li><a href="#" target="_blank"><i class="icon-twitter"></i></a></li>
          <li><a href="#" target="_blank"><i class="icon-linkedin"></i></a></li>
      </ul>
      </p>

    </div>

  </div>
</section>