<section class="top">
  <div class="row">
    <div class="twelve columns">
      The Battenfields
    </div>
  </div>
  
  <div class="row">
    <div class="centered seven columns sub-text">
      A husband &#43; Wife Duo
    </div>
  </div>
  
  <div class="row">
    <div class="centered eight columns contact">
      <a href="#">Work With Us</a>
    </div>
  </div>
    </section>